.CitySelector {
  width: 100%;

  background: #c4cfe0;
  //opacity: 0.05;

  color: #224156;

  .CitySelectorWrapper {
    width: calc(100% - 40px);
    margin: 20px auto;

    a {
      color: antiquewhite;
    }

  .dropdown_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
  }

  }
}

