.StartHelpUnderrow {
  width: 100%;

  background: #eaf1ff;
  color: #224156;
  padding: 5px 0;

  .StartHelpUnderrowWrapper {
    //display: flex;
    width: calc(100% - 40px);
    margin: 20px auto;

    .menuButton {
      background: #D4E0F3;
      border-radius: 4px;
      color: #1F5FBF;
      display: grid;
      place-content: center;
      padding: 5px 10px;
    }

    a {
      color: #bababa;
      text-decoration-line: underline;
    }

  .dropdown_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    padding: 10px;

    .city{
      margin-top: 10px;
    }
  }

  }
}

