.CardsScrollViewWrapper {
  position: relative;

  .top_bar {
    display: flex;

    nav {
      display: flex;
      place-content: center;
      place-items: center;
      position: absolute;
      right: 0;

      .showAll {
        margin-right: 20px;
      }

      .left_arrow {
        position: relative;

        height: 20px;
        width: 20px;

        margin-right: 15px;
      }

      .right_arrow {
        position: relative;

        height: 20px;
        width: 20px;

      }

    }

    h2 {
      width: 50vw;
    }
  }


  .CardsScrollView {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;

    .scroll {
      display: grid;
      place-content: center;

      height: 40px;
      width: 40px;

      position: absolute;
      top: 250px;
    }

    .ScrollLeft {
      left: 20px;
    }

    .ScrollRight {
      right: -20px;
    }
  }

  .Card {
    display: flex;
    flex-direction: column;
    margin: 10px auto;

    .img {
      border-radius: 10px;
      width: 100%;
      height: 300px;

      background-size: cover;
      background-position: center;

      // MOCK
      background: black;
    }

    h3 {
      margin: 15px 0;
      display: block;
      text-align: left;
    }

    button {
      margin-top: 15px;
      display: flex;
      place-content: center;
      place-items: center;

      width: 100%;
      height: 50px;

      background: #FFFFFF;
      /* blue */

      border: 1px solid #1F5FBF;
      box-sizing: border-box;
      border-radius: 4px;
    }
  }
}

