$text_color: #253B49;

.cards_block {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 30px auto;
  color: $text_color;

  .card {
    display: grid;
    place-content: center;

    height: 130px;
    width: 230px;

    margin: 10px auto;

    background: #FFFFFF;
    box-shadow: 0 4px 5px 2px rgba(37, 59, 73, 0.25);
    border-radius: 10px;

    img {
      margin: auto;
    }

    .title {

    }
  }


  h2 {
    text-align: left;
  }

  .cards_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0;

    width: 100%;
  }

  .after_text {
    width: 100%;
    text-align: left;
  }


}

