.AdditionalOptions {
    width: calc(100% - 100px);
    margin: 0 auto;
}


.headtext {
    color: #224156;
    font-family: Roboto-Bold;
    font-size: 30px;
    line-height: 135.69%;
    margin-bottom: 20px;
}


.optionContainer {
    width: 100%;
    min-width: 340px;

    .headtext:after {
        content: "Дополнительные опции";
        font-family: Roboto-Regular;
        color: #fff;
    }
}

.optionContainer {
    width: 949px;
    height: 85px;
    display: flex;
    margin-bottom: 7px;
    border: 1px solid #224156;
    border-radius: 4px;

    .iconPlace {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1F5FBF;
        width: 73px;
        height: 100%;
    }

    @mixin icon {
        background-size: 100%;
        background-repeat: no-repeat;
    }


    .electricPlugIcon {
        @include icon;
        width: 40px;
        height: 40px;
        background-image: url("../../static/electricPlug.svg");
    }

    .wifiIcon {
        @include icon;
        width: 50px;
        height: 33px;
        background-image: url("../../static/wifi.svg");
    }

    .lockIcon {
        @include icon;
        width: 50px;
        height: 50px;
        background-image: url("../../static/lock.svg");
    }

    .warrantyIcon {
        @include icon;
        width: 39px;
        height: 47px;
        background-image: url("../../static/warranty.svg");
    }

}

    .optionName {
        display: flex;
        font-family: Roboto-Medium;
        font-size: 14px;
        color: #1F5FBF;
        height: 50%;

        align-items: center;
    }

    .optionPricing {
        display: flex;
        font-family: Roboto-Medium;
        font-size: 13px;

        height: 50%;
        align-items: center;
    }


.option {
    width: 100%;
}

.options {
    display: flex;
    width: 100%;
    margin-left: 33px;
}