@font-face {
  font-family: Roboto-Thin;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: Roboto-Light;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Medium;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: Roboto-Black;
  src: url("./pages/main_page/static/fonts/Roboto/Roboto-Black.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
}

button {
  cursor: pointer;
}