.named_dropdown_wrapper {

  .named_dropdown {
    position: relative;
    display: flex;

    width: 100%;
    height: 40px;

    overflow-x: hidden;

    border: solid 1px lightslategray;

    .selected_field {
      height: 100%;
      width: calc(100% - 40px - 15px - 2px);

      display: flex;
      place-items: center;
      padding-left: 15px;

    }

    .arrow_container {
      position: relative;
      right: -2px;

      display: flex;
      place-items: center;
      place-content: center;

      height: 40px;
      width: 40px;

      background: #1FBF4C;
    }



  }

  .dropdown_content {
    display: flex;
    flex-direction: column;

    position: relative;
    top: 10px;
    left: 0;

    width: 250px;

  }


  .dropdown_content:nth-child(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

  }
}


.arrow {
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  transition: 1s;
}

.arrow_reversed {
  width: calc(100% - 20px);
  height: calc(100% - 20px);


  transform: rotate(180deg);
  transition: 1s;
}

.dropdown {
  display: flex;
  width: 100%;
  position: relative;

  .arrow_wrapper {
    position: absolute;

    display: grid;
    place-content: center;

    width: 40px;
    height: 40px;
    right: 20px;
  }
}

.inline_select {
  display: flex;

  .title {
    margin-right: 8px;
  }

  .choices {
    display: flex;

    .choice {
      margin: 0 7px;
    }
  }
}

.inline_select:before {
  content: "*";
  //margin-right: 5px;
}

.HiContrastDropDown {
  button {
    background: #1F5FBF;
    border-radius: 4px;
  }

  .darkBG {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    place-content: center;

    background-color: rgba(0, 0, 0, 0.3);

    .dropdown_content {
      position: relative;
      top: 20px;


      min-height: 100px;
      min-width: 400px;

      z-index: 100;

      background: #FFFFFF;
      border-radius: 8px;
      border-right: 3px solid #1f5ebd;
    }

  }


}
