$blue: #1F5FBF;
$white: white;


#right_nav {
  position: fixed;
  z-index: 10;
  left: 0;

  height: 100vh;
  width: 485px;

  overflow-y: scroll;

  color: $white;
  background: $blue;

  transition: 1s;


  .content {
    // контент элемента
    position: relative;
    //right: 0;
    width: 333px;
    float: right;

    @mixin block {
      display: flex;
      place-items: center;

      height: 30px;
      width: calc(100% - 15px);

      padding-left: 15px;
    }

    .dropdown_block {
      margin-top: 25px;

      .dropdown {
        // дропдаун в компоненте

        @include block;

        position: relative;

        color: $white;
        border-bottom: solid 1px white;


        .dropdown_content {

        }

        .arrow {
          // стрелка

          position: relative;
          right: -10px;

          height: 20px;
          width: 20px;
        }

      }

      .selectable {
        @include block;

        color: $white;
        background: $blue;
      }

      .selectable:hover {
        @include block;
        // выделенный внутри dropdown элемент

        background: $white;
        color: $blue;
      }

      .selected {
        @include block;
        // выделенный внутри dropdown элемент

        background: $white;
        color: $blue;
      }
    }
  }
}

