$blue: #1F5FBF;
$white: white;


#right_nav {

  /* width */
  ::-webkit-scrollbar {
    //width: 20px;
    display: none;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    display: none;

    //box-shadow: inset 0 0 5px grey;
    //border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    display: none;

    //background: red;
    //border-radius: 10px;
  }

  //position: fixed;
  z-index: 10;
  left: 0;

  height: 100vh;
  width: 485px;

  overflow-y: scroll;

  color: $white;
  background: $blue;

  transition: 1s;

  .logo {
    display: block;
    margin: 20px auto;
  }

  .content {
    // контент элемента
    position: relative;
    //right: 0;
    width: 333px;
    float: right;

    @mixin block {
      display: flex;
      place-items: center;

      height: 30px;
      width: calc(100% - 15px);

      padding-left: 15px;
    }

    .dropdown_block {
      margin-top: 25px;

      .dropdown {
        // дропдаун в компоненте

        @include block;

        position: relative;

        color: $white;
        border-bottom: solid 1px white;


        .dropdown_content {

        }

        .arrow {
          // стрелка

          position: relative;
          right: -10px;

          height: 20px;
          width: 20px;
        }

      }

      .selectable {
        @include block;

        color: $white;
        background: $blue;
      }

      .selectable:hover {
        @include block;
        // выделенный внутри dropdown элемент

        background: $white;
        color: $blue;
      }

      .selected {
        @include block;
        // выделенный внутри dropdown элемент

        background: $white;
        color: $blue;
      }
    }
  }
}

@media (max-width: 840px) {
  #right_nav {
    display: none;
  }

  .App > .VideoWatchingPage >.content {
    width: 100%;
  }
}

