.Banner {
    max-width: 1196px;
    height: 501px;
    background-image: url("../../static/banner_bg.png");
    background-size: cover;
    background-position: right;
    display: flex;



    .content {
        width: 407px;
        margin-left: 12%;
        margin-top: 123px;
    }
}

.headtext {
    color: #fff;

    font-family: Roboto-Medium;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -0.01em;

    margin-bottom: 18px;
}


.projectsButton {
    width: 207px;
    height: 47px;
    
    background: #E97D27;
    color: #fff;

    border-radius: 4px;

    font-family: Roboto-Bold;
    line-height: 174.19%;
}


.hz {
    color: #fff;

    font-family: Roboto-Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 174.19%;

    margin-bottom: 18px;
    text-shadow: 0px 4px 4px #004090;

}